header {
  display: flex;
  justify-content: space-evenly;
  flex: 0 0 100%;
  max-width: 100%;
  border-bottom: 2px solid #000;

  .logo {
    justify-content: center;
    display: flex;
    flex: 0 0 30%;
    max-width: 30%;

    img {
      height: 100px;
    }
  }
}