@import "assets/main";

@mixin alert-color($color) {
  background-color: $color;
}

$alert-types: "success", "danger", "warning";

@each $type in $alert-types {
  .alert-#{$type} {
    display: flex;
    width: 100%;
    @if ($type == "danger") {
      @include alert-color(red)
    } @else if ($type == "warning") {
      @include alert-color(orange)
    } @else if ($type == "success") {
      @include alert-color(green)
    }
  }
}

a {
  text-decoration: unset;
  text-decoration-color: unset;
}

nav {
  display: none;
}

footer {
  text-align: center;
  margin: 20px 0;
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 40px 0;
  color: inherit;
  min-height: calc(100vh - 102px - 70px);
  background-color: $white;
}