.App {
  text-align: center;
}

@mixin alert-color($color) {
  background-color: $color;
}

$alert-types: "success", "danger", "warning";

@each $type in $alert-types {
  .alert-#{$type} {
    display: flex;
    width: 100%;
    @if ($type == "danger") {
      @include alert-color(red)
    } @else if ($type == "warning") {
      @include alert-color(orange)
    } @else if ($type == "success") {
      @include alert-color(green)
    }
  }
}

a {
  text-decoration: unset;
  text-decoration-color: unset;
}

nav {
  display: none;
}

header {
  display: flex;
  justify-content: space-evenly;
  flex: 0 0 100%;
  max-width: 100%;
  border-bottom: 2px solid #000;

  .logo {
    justify-content: center;
    display: flex;
    flex: 0 0 30%;
    max-width: 30%;

    img {
      width: 210px;
      height: 100px;
    }
  }

  .redirection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 50%;
    max-width: 50%;

    button {
      width: 110px;
      border: 3px solid #206ddc;
      font-weight: bold;
      border-radius: 20px;
      background: #fff;
      color: #6a6a6a;

      &:hover {
        background: #206ddc;
        color: #fff;
      }
    }
  }
}

footer {
  text-align: center;
  margin: 20px 0;
}
